.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  padding: 3em 10em;
  margin-top: 2em;

  border-radius: 12px;
  background-color: #0A285F;
  color: white;
}

.background-image {
  width: 100%;
  height: 100%;
  background-image: url(./images/pokeball-background.jpg);
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(4px) brightness(75%);
  z-index: -1;
}