.form-container {
    display: flex;
    flex-direction: column;
}

.input-field {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin-left: 1em;
    border: 1px solid #202020;
    outline: none;
    border-radius: 8px;
    padding: 0.5em 1em;
}

.input-field:active {
    border: 1px solid #191919;
    outline: none;
}

.submit-btn {
    margin-top: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #0075BE;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
}

.submit-btn:hover {
    background-color: #1C4CBD;
}